<footer class="footer">
    <!-- <div class="form">
        <div class="form__form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form__text-input">
        </div>
        <div class="form__form-group">
            <label for="email">Отзыв или пожелание:</label>
            <textarea type="email" name="email" id="email" class="form__text-input" cols="40" rows="8"> 

            </textarea>
        </div>
        <button class="button" type="submit">Отправить</button>
    </div> -->
    <div class="footer__copyright">
        © 2020 Egor Poliakov
    </div>
    
</footer>